*{
    margin: 0;
    padding: 0;
}
body{
    background: skyblue;
}

.header{
    min-width:100vh;
    width: 100%;
    background-color: white;
    position: relative;
}

nav{
    display: flex;
    padding: 3px 6px;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 50px;
    margin-left: 20px;
}

.nav-links{
    text-align: right;
    display: block;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(167, 223, 245);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 9px 13px;
    position: relative;
}
.nav-links ul li a{
    color: #777;
    text-decoration: none;
    font-size: 12px;
    margin-right: 7px;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.text-box{
    width: 100%;
    color:#fff;
    position: absolute;
    text-align: center;
    top:   200%;
    display: block;
    

}

.text-box h1{
    font-size: 65px;
}

.text-box p{
    margin: 12px 0 45px;
    font-size: 16;
    color: #fff;
}

.first-btn{
    display: inline-block;
    text-decoration: none;
    color: #333;
    border: 1px solid black;
    background-color: white;
    padding: 14px 35px ;
    font-size: 12px;
    background:transparent ;
    position: relative;
    cursor: pointer;
}

.first-btn:hover{
    border: 1px solid rgb(19, 10, 10);
    background:white;
    transition: 0.7s;
}



.img img{
    width:30%;
    margin-top: 20px;
    display: inline;
    padding: 0 20px;
    
}



@media only screen and (max-width:700px ){
    body{
        background-color: skyblue;
    }
    .text-box h1{
        font-size: 40px;
    }
    .nav-links ul li {
        display:block
    }
    .nav-links {
        position:absolute;
        background:skyblue ;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul {
        padding: 25px;
    }
}